.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 17px;
    gap: 7px;

    position: absolute;
    width: 390px;
    height: 190px;

    background: #E2E9E6;
    border-radius: 12px;
}

.question {
    width: 281px;
    height: 94px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */

    text-align: left;
    vertical-align: top;
    color: #000000;
}

.answer {
    width: 279px;
    height: 49px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 120%;
    /* or 22px */

    text-align: left;
    vertical-align: top;
    color: #000000;
}

.fig1 {
    position: absolute;
    width: 100%;
    height: 30%;
}

.fig2 {
    position: absolute;
    width: 100%;
    height: 40%;
}

.fig3 {
    position: absolute;
    width: 100%;
    height: 30%;

}

.fig4 {
    position: absolute;
    width: 100%;
    height: 40%;
}
