.background {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 7px;

    position: absolute;
    width: 390px;
    height: 190px;

    background: #E2E9E6;
    border-radius: 12px;
}

.fig1 {
    position: absolute;
    width: 100%;
    height: 30%;
}

.fig2 {
    position: absolute;
    width: 100%;
    height: 40%;
}

.fig3 {
    position: absolute;
    width: 100%;
    height: 30%;

}

.fig4 {
    position: absolute;
    width: 100%;
    height: 40%;
}
